<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="none"/>
    </Found>
    <NotFound>
        <PageTitle>Page not found.</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Error: The requested page does not exist.</p>
        </LayoutView>
    </NotFound>
</Router>